@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font-family: 'Figtree', sans-serif;
    --font-size: 1rem;
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--yellow);
}

h2:hover {
    cursor: pointer;
    color: var(--yellow);
}

.card {
    background-color: var(--white);
    border-radius: 1.25rem;
    width: 24rem;
    height: 32.625rem;
    padding: 1.5rem;
    border: 1px solid var(--black);
    box-shadow: .5rem .5rem var(--black);
    transition: box-shadow 300ms ease-in-out;
    
}

.card > img {
    border-radius: 1.25rem;
}

.card_header {
    padding-top: 0.75rem;
}
.category, .date, h2, .card_text {
    padding-top: 0.75rem;
}
.category > span {
    width: 5.125rem;
    background-color: var(--yellow);
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
}

.card_text {
    color: var(--grey);
    }

.card_footer {
    display: flex;
    gap: .75rem;
    align-items: center;
    padding-top: 1.25rem;
}

.avatar {
    width: 1.5rem;
    height: 1.5rem;
}


.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 2rem;
  }

.attribution a {
color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .card {

        width: 20.437rem;
        height: 31.31rem;
    }

    .card > img {
        width: 17.43rem;
    }
}