
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,700;1,700&display=swap');

:root {

    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
* {
margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Libre Franklin", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

header, main, section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}


header {
    padding-top: 1rem;
    text-align: center;
}

header > h1 {
    padding-top: 1.5rem;
}




section {
    padding: 2rem;
}

section > form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    
}

input[type=text] {
    border-radius: 1.2rem;
    border: 1px solid var(--pale-blue);
    padding: 0.5rem;
    width: 50%;
    color: var(--pale-blue);
}

input[type=text]::placeholder {
    color: var(--pale-blue);
    padding: 0.5rem;

}

button {
    border-radius: 1.2rem;
    border: none;
    background-color: var(--blue);
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 2rem;

}

button:hover {
    cursor: pointer;
   background-color: var(--pale-blue);
}

.icons i::before {
    font-size: 1.3rem; 
    color: var(--blue); 
  }
  

.icons {
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem; 
    height: 1.8rem; 
    padding: 0.3rem;
    border: 1px solid var(--blue); 
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s; 
}

.header-accent {
    font-weight: 300;
    color: var(--gray);
}



.footer-text {
    font-size: 0.8rem;
}
  
#root, #__next {
isolation: isolate;
}

@media screen {
    form {
        flex-direction: column;
        width: 100%;
    }

    input[type=text], button {
        width: 100%;
    }
}